<!doctype html>
<html ⚡="">

<head>
    <meta charset="utf-8">
    <title>{{ .Params.name }} Crypto casino is gr8</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        {{ with resources.Get "css/main.css" | minify }}
        {{ .Content | safeCSS }}
        {{ end }}
    </style>
</head>
<body>
    <header>
        <ul class="menu" role="menu">
            <li class="menu-item" role="menuitem">Main</li>
            <li class="menu-item" role="menuitem">News</li>
            <li class="menu-item" role="menuitem">About</li>
        </ul>
    </header>
    <section>
        {{ partial "posts.html" . }}
    </section>
    <footer>
        Created by team of enthusiasts.
    </footer>
</body>
</html>